.container {
  display: flex;
  height: 100vh;
}
.form-section {
  flex: 1;
}
.image-section {
  flex: 1;
}
.image-wrapper {
  height: 100%;
  width: 100%;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.txt {
  font-size: 15px;
}

.form-wrapper {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-header {
  font-size: 25px;
}

.form-phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-phone-wrapper > input {
  height: 30px;
  padding: 2px 2px;
}

.form-password-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form-password-wrapper > input {
  height: 30px;
  padding: 2px 2px;
}

.form-remember-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-remembe-chkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-submit-btn {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0 black;
  cursor: pointer;
}
.qsn {
  width: 100%;
  text-align: center;
}

.create-account-btn {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0 black;
}

@media screen and (max-width: 1270px) {
  .form-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1025px) {
  .txt {
    font-size: 12px;
  }

  .form-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 610px) {
  .form-wrapper {
    width: 90%;
    padding: 5px;
  }
  .image-section {
    flex: 0;
  }
  .image-wrapper {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .form-remember-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
